<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Recovery</title>
</head>
<body>
<h1>Password Recovery</h1>
<p>Click the button below to reset your password:</p>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
        <td align="center">
            <a href="[[${passwordResetUrl}]]" target="_blank" style="background-color:#4CAF50;border:none;border-radius:5px;color:white;padding:10px 20px;text-decoration:none;font-size:16px;display:inline-block;">Reset Password</a>
        </td>
    </tr>
    </tbody>
</table>
<p>If the button doesn't work, please use the following link:</p>
<p><a href="[[${passwordResetUrl}]]" target="_blank">[[${passwordResetUrl}]]</a></p>
</body>
</html>
